{
  "presets": ["@babel/preset-env"],
  "plugins": [
    ["module-resolver", {
      "alias": {
        "~": "./app/backend",
        "@": "./app/backend",
        "~config": "./config/config"
      }
    }]
  ]
}